#achievement {
    display: inline-flex;
}
.AC{
    transform: scale(1.2);
}

.image-avatar{
    border-radius: 50%
}

.nav-btn{
    background-color: #FFE066;
    display: block;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 10%;
    width: 65%;
}

#achievement .item{
    width: 40px;
}

.item > ion-icon, .item-inner > ion-icon {
    font-size: 3.5rem;
}
