<ion-header>
  <ion-navbar color="dark">
    <ion-title> Bilu </ion-title>
    <ion-buttons end (click)="logout()" *ngIf="auth.authenticated">
      <button ion-button icon-only>
        <ion-icon class="logout-icon" name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid (click)="openPerfil(user.id)">
    <ion-row *ngIf="user!=undefined">
      <ion-col col-4>
        <ion-avatar item-start  >
          <img *ngIf="user.image.url == null" class="image-avatar" src="../../assets/imgs/avatar.png" alt="avatar">
          <img *ngIf="user.image.url != null" class="image-avatar" src="user.image" alt="avatar"> 
        </ion-avatar>
      </ion-col>
        
      <ion-col col-8 col-xl-16>
        <ion-row> 
          <ion-col>
            <h1 *ngIf="user.first_name != ''"> {{ user.first_name }} {{ user.last_name }}</h1>
            <h1 *ngIf="user.first_name == ''"> Cadastro pendente </h1>
            <h1 *ngIf="user.level != ''">Level: {{ user.level }} </h1> 
            <h1 *ngIf="user.level == ''">Level: Não Disponível </h1> 
          </ion-col>
        </ion-row>
          
        <ion-row> 
          <ion-col>          
            <div id="achievement">
              <div class="item" *ngIf="firstAchv != null && firstAchv.check != false" >
                <ion-icon name="book"></ion-icon>
              </div> 
              <div class="item" *ngIf="secondAchv != null && secondAchv.check != false">                
                <ion-icon name="compass"></ion-icon>
              </div>
              <div class="item" *ngIf="firstAchv == null && secondAchv == null">
                <p>Nenhuma conquista</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user == undefined"> 
      <h1>Dados Incompletos</h1>
    </ion-row>

  </ion-grid>
 <div>
    <button class="nav-btn" (click)="openRandomTopics()">
        <p>Descobrir</p>
      </button>
      <br>
    
    <button class="nav-btn" (click)="openTopics()">
      <p>Buscar</p>
    </button>
    
    <br>
      
    <button class="nav-btn" (click)="openFavorites()">
      <p>Favoritos</p>
    </button>
    
    <br>

 </div>

</ion-content>
