#achievement {
    display: inline-flex;
}
.AC{
    transform: scale(1.2);
}

.image-avatar{
    border-radius: 50%
}

.nav-btn{
    background-color: light;
    display: block;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 10%;
    width: 65%;
}
