#achievement {
    display: inline-flex;
}

#UsAva{
    border-radius: 40%
}
.BTH{
    display: block;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 10%;
    width: 65%;
}
.logout{
    background-color: rgba(248, 248, 248, 0);
    text-decoration-color: white;
    font-size: 20px;
    border-width: 0px;
    border-bottom-color:  rgba(255, 0, 0, 0);
}
.toolbar-background {
    background-color: dark;
  }

[text-color="cor"] {
    color: white;
}