ion<ion-header>
  <ion-navbar>
    <ion-title >BILU</ion-title>
    <ion-buttons end>
        <ion-item (click)="logout()" *ngIf="auth.authenticated">
            <ion-icon name="log-out" item-rigth></ion-icon></ion-item>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid (click)="openPerfil(user.id)">
     <ion-row *ngIf="user!=undefined">
       <ion-col col-4>
          <ion-avatar  item-start >
              <img  id="UsAva" src="../../assets/imgs/jackson-4.jpg" alt="avatar"> 
          </ion-avatar>
        </ion-col>
        
        <ion-col col-8 col-xl-16>
            <ion-row> 
              <ion-col>
                  <h1 *ngIf="user.first_name != ''"> {{ user.first_name }}</h1>
                  <h1 *ngIf="user.first_name == ''"> Preencha seu nome</h1>  
              </ion-col>
            </ion-row>
            <ion-row> 
              <ion-col>
                    <h1>Level {{ user.level }} </h1>    
                    <div id="achievement">
                      <div id="AC1" class="AC" >
                        <img src="" alt="">
                        <ion-icon name="book"></ion-icon>
                      </div>
                      <div id="AC2" class="AC">
                          <img src="" alt="">
                          <ion-icon name="compass"></ion-icon>
                      </div>
                      <div id="AC3" class="AC">
                          <img src="" alt="">
                          <ion-icon name="create"></ion-icon>
                      </div>
                    </div>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="user == undefined"> 
        <h1>Complete seus dados aqui</h1>
      </ion-row>
  </ion-grid>
 <div>
    <button class="BTH" (click)="openTopics()">
        <p>Descobrir</p>
      </button>
      <br>
    <button class="BTH" (click)="openTopics()">
          <p>Buscar</p>
        </button>
      <br>
    <button class="BTH" (click)="openUsers()">
            <p>Favoritos</p>
      </button>
      <br>
 </div>

</ion-content>
