<ion-header>

  <ion-navbar color="dark">
    <ion-title>Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 *ngIf="favorites[0] == undefined"> Não Possui Favoritos </h2>
  
  <div class="favorites" *ngIf="favorites[0] != undefined">
    <ion-list>
      <ion-item *ngFor="let f of favorites" >
        <div class="btn-topic" (click) ="getTopic(f.topic.id)">
          <p>{{ f.title }}</p>
        </div>  
      </ion-item>
    </ion-list>
  </div>

  
</ion-content>
