page-topic-show {


#CMMT{
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    text-decoration-color: azure;
    color: black;
}
#itemC{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.btn-close{
    padding-bottom: 10%;

    background-color: black;
}
.btn-remove{
    background-color: red;

    }
}