<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ topic.category.name }}</ion-title>
    <ion-buttons *ngIf="user.admin == true" end (click)="goToEdit()">
        <button ion-button icon-only >
            <ion-icon name="md-create"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <h3 id="TITULO">{{topic.title}}</h3>
  <br>
  <p> {{ topic.content }} </p>
  <div class ="container">
    <div>
      <button class="BT" *ngIf="like==null" (click)="createLike()" block> <img src="../../../assets/imgs/Like.png" alt="Gostei" > </button>
      <button class="BT" color="dark" *ngIf="like!=null" (click)="removeLike(user.id)" block ><img  src="../../../assets/imgs/Like.png" alt="Gostei" > </button>
    </div>
    <div >
      <button class="BT" *ngIf="dislike==null" (click)="createDislike()" block><img   src="../../../assets/imgs/dislike.png" ></button>
      <button class="BT" color="dark" *ngIf="dislike!=null" (click)="removeDislike(user.id)" block ><img src="../../../assets/imgs/dislike.png" ></button>
    </div>
  </div>
  <ion-grid class = "grid-user-topics">
    <h2>Comentários</h2>
    <ion-row *ngFor="let c of comments">
      <ion-col nowrap class="topic-texto">
        <div id= "itemC">
          <ion-item class= "item-comment">
           <p>Autor: {{ c.user.first_name }}</p>
           <p>{{ c.content }}</p>
            <button *ngIf="user.admin == true" class="btn-remove" ion-button icon-only small round (click) ="destroyComment(c.id)" float-right>
              <ion-icon name = "md-close"></ion-icon>
            </button>
          </ion-item>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="createComment()">
    <div id="CMMT">
      <ion-input  type="text" placeholder="Digite seu comentário" [(ngModel)]="content" name="content" ></ion-input>
    </div>
    <button ion-button type="submit" block>Comentar</button>
  </form>
</ion-content>
