<ion-header>
  <ion-navbar>
    <ion-title>{{ topic.category.name  }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-fab right bottom>
    <button ion-fab class="btn-edit" (click) = "goToEdit()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right top>
      <button id="bt_dir" ion-button *ngIf="like==null" (click)="createLike()" block> <img id="img" src="../../../assets/imgs/Like.png" alt="Gostei" > </button>
      <button id="bt_dir" ion-button color="dark" *ngIf="like!=null" (click)="removeLike(1)" block ><img id="img" src="../../../assets/imgs/Like.png" alt="Gostei" > </button>
  </ion-fab>
  
  <ion-fab left top>
    <button id="bt_esq" ion-button *ngIf="dislike==null" (click)="createDislike()" block><img id="img2" src="../../../assets/imgs/dislike.png" ></button>
    <button id="bt_esq" ion-button color="dark" *ngIf="dislike!=null" (click)="removeDislike(1)" block ><img id="img2" src="../../../assets/imgs/dislike.png" ></button>
  </ion-fab>
  <h3 align="center">{{topic.title}}</h3>
  <br>
  <p> {{ topic.content }} </p>
  <ion-grid class = "grid-user-topics">
    <h2>Comentários</h2>
    <ion-row *ngFor="let c of comments">
      <ion-col nowrap class="topic-texto">
        <div id= "itemC">
          <ion-item class= "item-comment">
           <p>Autor: {{ c.user.first_name }}</p>
           <p>{{ c.content }}</p>
            <button class = "btn-remove" ion-button icon-only small round (click) ="destroyComment(c.id)" float-right>
              <ion-icon name = "md-close"></ion-icon>
            </button>
          </ion-item>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="createComment()">
    <div id="CMMT">
      <ion-input  type="text" placeholder="Digite seu comentário" [(ngModel)]="content" name="content" ></ion-input>
    </div>
    <button ion-button type="submit" block>Comentar</button>
  </form>
</ion-content>
